<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>실습 26 27</h1>
    <a href="/BE/d2_form/ex26/views/ex26.ejs">실습 26</a>
    <a href="ex27.ejs">실습 27</a>
</body>
</html>