/* 
    transition
    : 프로퍼티(=속성) 값 변경시, 일정시간에 걸쳐 변화가 일어나도록
        -transition-property: 변화 대상인 css 속성을 지정 (default: all)
        -transition-duartion: 변화가 일어난 시간 지정 (단위 : s, ms)
        -transition-timing-function: 변화 시간별 속도지정
            -linear, ease, ease-in, ease-out, ease-in-out
        -transition-delay: 지연시간 = 몇 초 기다렸다 시작할것 인지(단위: s, ms)
        */


.box{
    width: 100px;
    height: 100px;
    cursor: pointer;
    /*cursor 속성 : 요소 위에 마우스 커서가 올라갔을때 보여줄 모양을 지정 
        -default
        -pointer
        -wait
        -not-allowed 
    */
}
.box1:hover{
    width: 400px;
    background-color: blue;
    opacity: 0.5;

/* opaccitiy 속성
    : 0 ~ 1 사이의 값으로 불투명도 설정
    1 : 불투명 0 : 투명

*/

    /* transition-property: all; */
    /* transition-duration: 1s; */
    /* transition-timing-function: ease-in-out; */
    /* transition-delay: 2s; */
    /* 축양형
        transition : property duration timing-fuction delay
    */
    transition: all 1s ease-in-out 2s;
}

.box2:hover{
    transform: rotate(180deg);
    background-color: green;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;

}

.box3:hover{
    transform: scale(3) translate(100px, 100px);

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}

/* 들리는 효과 */
.box4:hover{
    transform: translateY(-10px);
    box-shadow: 4px 4px 10px #0008;

    transition: all 2s ease-in;
}
.box1{
    background-color: red;
}
.box2{
    background-color: orange;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: green;
}