/* common */
* {
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}
header{
    background-color: orangered;
    height: 50px;
    width: 100%;

}
nav{
    background-color: slateblue;
    height: 50px;
    width: 100%;
}
main{
    display: flex;
    justify-content: space-between;

}
section{
    display: flex;
    width: 100%;
    flex-direction: column;

}
aside{
    background-color: pink;
    width: 10%;
    display:flex ;
}

.art1{
    height: 100px;
    background-color: aquamarine;
    
    /* margin: 0 auto; */
    

}
.art2{
    height: 100px;

    background-color: yellow;
}

footer{
    height: 50px;
    background-color: royalblue;
}
/* TODO: HTMl에 대해 배울 때, semactic tag에 대해 배웠었죠? 
복습할 겸 flex를 이용해 시멘틱 웹을 구성해주세요. */