<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- axios cnd -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>

    <h1>실습 40</h1>

    <p>
        페이지 접속 했을 때 위와 같은 창이 보이게 하고, "오늘 그만 보기" 선택한 후 
        "닫기" 하면 브라우저를 껐다 켜도 창이 보이지 않게 하기
    </p>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">cookie 실습</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
          광고: 어쩌구 저쩌구 <br> 쿠키 실습<br>
            <div class="text-end">
                <input type="checkbox" id="cookie">오늘 하루 보지 않음
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal();">닫기</button>
        </div>
      </div>
    </div>
  </div>
    

    <script>
        const myModal = new bootstrap.Modal('#exampleModal');
        console.log(myModal);
        console.log('popup : ', '<%= popup %>')

        // popup 쿠키 값이 ''라면(쿠키 설정 x) -> modal 보여주기
        if('<%= popup %>' === ''){
            myModal.show();
        }
        
        const checkbox = document.getElementById('cookie');
        console.dir(checkbox.checked);
        // close 버튼 클릭
        function closeModal() {
            // 1. 체크박스 체크 되어있다면 -> POST /setCookie 요청 보냄 (back에서 poprp 쿠키 설정하기)
            console.log('btn clk');
            
            if(checkbox.checked) {
                axios({
                    method: 'POST',
                    url:'/setCookie',
                }).then((res) => {
                    console.log('res data >>', res.data);
                });
            }
            // 2. 모달 닫기
            myModal.hide(); //모달 닫기
        }

    </script>
</html>